name: CsExercise
channels:
  - defaults
  - nvidia
  - pytorch
dependencies:
  - python=3.9
  - pip
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - scikit-learn
  - scipy
  - jupyterlab
  - opencv-python
  - pip:
      - torch==2.4.1+cu121
      - torchvision==0.19.1+cu121
      - torchaudio==2.4.1+cu121